.cart{
    width: 100%;
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
    overflow-y: auto;
    max-height: 55vh;
}

.actions{
    display: flex;
    justify-content: center;
    max-height: 10vh;
    align-items: center;
    padding-bottom: 20px;
    padding-top: 20px;
}