.totalPriceDiv {
  display: flex;
  flex-direction: row;
  width: 10%;
}

.total {
  width: 50%;
  display: flex;
  color: black;
  font-weight: 550;
}

.price {
 
  display: flex;
  justify-content: flex-end;
}
.price span {
  color: black;
  font-weight: 550;
}
.total span {
  color: black;
  font-weight: 550;
}
.taxesDiv{
  width: 10%;
  display: flex;
  flex-direction: row;
}
.taxPrice {
  color: black;
  font-weight: 550;
}