.totalPriceDiv {
  display: flex;
  flex-direction: row;
  width: 10%;
}

.total {
  width: 50%;
  display: flex;
}

.price {
  width: 50%;
  display: flex;
  justify-content: end;
}
.price span {
  color: black;
  font-weight: 550;
}
.total span {
  color: black;
  font-weight: 550;
}
