.products{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 0 auto;
    width: 100%;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 130px;
}

h2{
    position: absolute;
    top: 87px;
    left: 110px;
    font-weight: 350;
}