.totalPriceDiv {
  display: flex;
  flex-direction: row;
  width: 100%;
  max-height: 5%;
}

.total {
  width: 50%;
  display: flex;
}

.price {
  width: 50%;
  display: flex;
  justify-content: flex-end;
}
.total span{
  color: black;
  font-weight: 550;
}
.price span{
  color: black;
  font-weight: 550;
}