.card {
  width: 15%;
  height: 250px;
  width: 19%;
  margin: 50px;
 cursor: pointer;
}
.image {
    height: 100%;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
     background-size: cover; 
    display: grid;
    place-items: center;
}

span{
    font-weight: 400;
    color: gray;
}
