.main{
    position: absolute;
    top: 120px;
    margin: 0 auto;
    width: 100vw;
    height: 70vh;
    display: grid;
    grid-template-columns: 20% 40% 40%;
}


@media only screen and (max-width: 1200px) {
    .main{
        position: absolute;
        top: 120px;
        margin: 0 auto;
        width: 100vw;
        height: 70vh;
        display: grid;
        grid-template-columns: 20% 40% 40%;
    }
  }