.list{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.imageDiv{
    width: 105px;
    height: 105px;
    cursor: pointer;
}
.img{
    width: 100px;
    height: 100px;
   
}