.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: 20;
    background-color: rgba(176, 176, 179, 0.3);
  }
  
  .modal {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 32px 16px;
    gap: 32px;
    
    position: absolute;
    width: 325px;
    max-height: 677px;
    right:100px;
    top: 78px;
    
    background: #FFFFFF;
    z-index: 30;
  }

  @media only screen and (max-width: 1800px) {
    .modal {
      z-index: 30;
      
       background: white;
       position: relative;
       position: absolute;
       width: 17vw;
       max-height: 65vh;
       right:  2vw;
       top: 5vh;
       width: 20vw;
       /* animation: slide-down 300ms ease-out forwards; */
     }
   
  }

  @media only screen and (max-width: 1560px) {
    .modal {
      z-index: 30;
      
       background: white;
       position: relative;
       position: absolute;
       width: 17vw;
       max-height: 65vh;
       right:  2vw;
       top: 5vh;
       width: 25vw;
       /* animation: slide-down 300ms ease-out forwards; */
     }
   
  }

  /* @media (min-width: 768px) {
    .modal {
      width: 40rem;
      left: calc(50% - 20rem);
    }
  }
  
  @keyframes slide-down {
    from {
      opacity: 0;
      transform: translateY(-3rem);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    } */
  