.card {
  height: 450px;
  width: 400px;
  margin: 50px;
 cursor: pointer;
}
.image {
    height: 80%;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
     background-size: cover; 
    display: grid;
    place-items: center;
}

span{
    font-weight: 400;
    color: gray;
}
