.card {
  display: flex;
  width: 100%;
  padding-bottom: 10px;
  padding-top: 10px;
  padding-left: 15px;
  max-height: 250px;
 justify-content: flex-start;
}
.description {
  width: 50%;
  padding-right: 10px;
  display: flex;
  flex-direction: column;
  font-size: 15px;
  height: fit-content;
}
span {
  color: rgb(114, 113, 113);
}

.img {
  width: 45%;
  height: 100%;
  display: flex;
  justify-content: flex-start;
}

.img img {
  width: 95%;
  height: fit-content;
}

.idk {
  display: flex;
  flex-direction: row;
}

.borderDiv {
  border: 2px solid rgb(81, 208, 129);
  width: 24px;
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.coast {
  color: black;
  font-weight: 500;
}

