.card {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0px;
  gap: 8px;
  width: 293px;
  /* padding-top: 15px;
  font-size: 15px; */
  flex: none;
  order: 1;
  height: 150px;
  flex-grow: 0;
  /* padding-bottom: 10px; */
}

.description {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  width: 136px;
  font-size: 16px;
  flex: none;
  height: 150px;
  order: 0;
  flex-grow: 0;
}
span {
  color: rgb(114, 113, 113);
}

.img {
  width: 121px;
  height: 150px;

  flex: none;
  order: 1;
  align-self: stretch;
  flex-grow: 1;
}

.img img {
  width: 121px;
  height: 150px;
}

.attributeDiv {
  display: flex;
  flex-direction: row;
  gap: 5px;
}

.borderDiv {
  border: 2px solid rgb(81, 208, 129);
  width: 24px;
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.coast {
  color: black;
  font-weight: 500;
}
