.amountActions {
  display: flex;
  flex-direction: column;
  width: 10%;
 
  height: 150px;
  justify-content: flex-start;
}
.add {
  height: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.remove {
 height: 50%;
 display: flex;
 align-items: center;
 justify-content: center;
}
button {
  background-color: white;
  color: black;
  cursor: pointer;
}
