.main {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  align-content: center;
}

.main div {
  width: 90%;
  height: fit-content;
}

.span {
  border: 1px solid black;
  color: black;
  background-color: white;
  margin: 4px;
  padding: 5px;
  cursor: pointer;
  width: 45px;
  height: 35px;
  display: flex;
  justify-content: center;
}

.addCart {
  width: 250px;
  height: 50px;
  background-color: rgb(81, 208, 129);
  cursor: pointer;
}

.conteiner {
  display: flex;
  width: 250px;
}

.conteiner div {
  width: 40px;
  height: 40px;
}

.price {
  font-weight: 00;
  color: black;
  font-size: 22px;
}

.title {
  margin: 0;
  font-size: 18px;
  font-weight: 700;
}

.choosenColorDiv {
  border: 1px solid rgb(4, 105, 4);
  width: 42px;
  height: 42px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.descriptionDiv{
  align-self: stretch;
  max-width: 65%;
  position: relative;
  left: 50px;
}


@media only screen and (max-width: 2000px) {
  .main {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    align-content: center;
  }

}